name: Build & Test

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        emacs-version: [26.1, 26.2, 26.3, 27.1, 27.2, 28.1, snapshot]

    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      - uses: purcell/setup-emacs@master
        if: matrix.os == 'ubuntu-latest' || matrix.os == 'macos-latest'
        with:
          version: ${{ matrix.emacs }}

      - uses: jcs090218/setup-emacs-windows@master
        if: matrix.os == 'windows-latest'
        with:
          version: ${{ matrix.emacs }}

      - uses: actions/setup-node@v2
        with:
          node-version: '14'

      - uses: emacs-eask/setup-eask@master
        with:
          version: 'snapshot'

      - name: Run a multi-line script
        run: |
          emacs --version
          make test
